<div class="paddinger">
    <br><br><br><br>
    <h3 class="goodorder center">주문 처리가 완료되었습니다</h3>
    <p class="goodsub center">자세한 현황은 '주문 현황' 메뉴에서 확인할 수 있습니다</p>
    <div class="center">
        <a href="/orders/new"class="waves-effect waves-light btn-large blue"><i class="material-icons left">restaurant_menu</i>새로운 주문서</a>
        <br><br><br><br>
        <a href="/orders"class="waves-effect waves-light btn-large orderind"><i class="material-icons left">receipt</i>주문현황 보기</a>
    </div>
</div>

<style>
    .goodorder{
        margin-bottom:0px;
    }
    .goodsub{
        margin-top:8px;
        margin-bottom:60px;
    }
    .orderind{
        margin-bottom:80px;
    }
</style>