<div class="container">
    <div class="paddinger">
      <h3 class="center reqtitle">현재 요청된 주문</h3>
      <p class="center reqsub">주문은 최신 순으로 표시됩니다</p>
        <div class="row">
            <div id="ajaxpartial">
              <div class="center">
                <%= image_tag("shlogo.png", class: "logoimg coverlogocss") %>
                <h4 class="center" id="loading">로드중.. 잠시만 기다려 주세요</h4>
              </div>
            </div>
            <br><br><br>
            <div id="ajaxpartial2">
 
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    setInterval(function() {
      $.ajax({
          type: 'GET',
          url: '/orders/ajax/changer',
          format: 'js'
      });
  }, 3000);
});
</script>

