// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#loading{
    margin-top:20px;
}
.orderbtn{
    margin-top:30px;
    margin-bottom:80px;
}
.paddinger{
    margin-top:80px;
    padding-left:10vw;
    padding-right:10vw;
}
.tablename{
    margin-bottom:12px;
    color:white;
    font-size:24px;    
}
.ordernum{
    margin-bottom:12px;
    margin-top:0px;
    color:white;
    font-size:15px;
}
.ordertime{
    margin-top:0px;
    color:white;
    font-size:15px;
}
.menuname{
    color:white;
    font-size:18px;  
    font-weight:600;
}
.menutitle{
    margin-top:50px;
    margin-bottom:10px;
}
.menusub{
    font-size:17px;
    margin-bottom:60px;
}
.okaybtn{
    margin-top:20px;
}
.reqtitle{
    margin-bottom:0px;
}
.reqsub{
    margin-top:8px;
    margin-bottom:40px;
}
#ajaxpartial{
    border:10px solid yellow accent-2;
}
.logoimg{
    margin-top:110px;
    width:250px;
}
.coverlogocss{
    -webkit-animation: float 1.6s;
            animation: float 1.6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;    
}
@keyframes float
{
    0%, 100%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-20px);
    }
}
@-webkit-keyframes float
{
    0%, 100%
    {
        -webkit-transform: translateY(0);
    }
    50%
    {
        -webkit-transform: translateY(-20px);
    }
}