// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orderbtn{
    margin-top:30px;
    margin-bottom:80px;
}
.paddinger{
    margin-top:80px;
    padding-left:10vw;
    padding-right:10vw;
}
.tablename{
    margin-bottom:12px;
    color:white;
    font-size:24px;    
}
.ordernum{
    margin-bottom:12px;
    margin-top:0px;
    color:white;
    font-size:15px;
}
.ordertime{
    margin-top:0px;
    color:white;
    font-size:15px;
}
.menuname{
    color:white;
    font-size:18px;  
    font-weight:600;
}
.menutitle{
    margin-top:50px;
    margin-bottom:10px;
}
.menusub{
    font-size:17px;
    margin-bottom:60px;
}
.okaybtn{
    margin-top:20px;
}
.reqtitle{
    margin-bottom:0px;
}
.reqsub{
    margin-top:8px;
    margin-bottom:40px;
}